*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#f8f4ff,#efe6ff,#e8dcff);

}

.container{

    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;

}

.glass-card{

    width:430px;

    padding:40px;

    border-radius:30px;

    background:rgba(255,255,255,.30);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.4);

    box-shadow:0 15px 35px rgba(123,77,255,.18);

}

.progress{

    margin-bottom:30px;

}

.progress span{

    color:#7b4dff;

    font-size:14px;
    font-weight:600;

}

.bar{

    width:100%;
    height:8px;

    background:#e9defd;

    border-radius:20px;

    margin-top:10px;

}

.fill{

    width:38%;

    height:100%;

    background:#7b4dff;

    border-radius:20px;

}

h1{

    color:#513589;

    margin-bottom:10px;

}

p{

    color:#6f5b91;

    margin-bottom:30px;

}

.input-group{

    margin-bottom:20px;

}

label{

    display:block;

    margin-bottom:8px;

    color:#5b438f;

    font-weight:500;

}

input,
select{

    width:100%;

    padding:15px;

    border:none;

    border-radius:15px;

    background:white;

    outline:none;

    font-size:15px;

}

button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:18px;

    background:#7b4dff;

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    margin-top:15px;

    transition:.3s;

}

button:hover{

    background:#6841db;

    transform:translateY(-2px);

}
